# Summary - SQL Query Examples
Each example shows the original tables, goal, then the breaks down the solution in parts. 
> ### [1. Example:](#EX1) CTE, INNER JOIN, INFORMATION_SCHEMA, sys.tables
> - Finds total record, column, and entity counts for all tables in DB

> ### [2. Example:](#EX2) CTE, SELECT DISTINCT, INNER JOIN
>- Check if set of attributes can be used as a distinct primary key by counting unique rows vs total rows of attributes

> ### [3. Example:](#EX3) Subquery, HAVING, INNER JOIN 
>- Check for duplicate rows on possible candidate key

> ### [4. Example:](#EX4) CTE, MAX()/MIN() functions, INNER JOIN, SELF JOIN, UNION Subquery
> ### [5. Example:](#EX5) Subquery, Aggregates, RANK() Window Function, Self Join
> ### [6. Example:](#EX6) Subquery, CTE, LAG() Window Function, CASE, ROUND(CAST( )), IS NOT NULL
- creates deltas for Youtube Stats from personal [database project](https://github.com/jmhcodes/youtube)

<a id='EX1'></a>
### 1. Example: Find total record, column, and entity counts for all tables in DB. 
Used: CTE, INNER JOIN, INFORMATION_SCHEMA, sys.tables <br>
![ex1](imgs/db_ex1.png)

### 1. Solution Part A: Find total ColumnCount by table_name from INFORMATION_SCHEMA.COLUMNS
![ex1](imgs/db_1A.png)

### 1. Solution Part B: Select from CTE and SUM rows by each table and calc entity count
![ex1](imgs/db_1B.png)
<br>
<br>
-------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>
<br>
<br>

<a id='EX2'></a>
### 2. Example: Check if set of attributes can be used as a distinct primary key
USED: CTE, SELECT DISTINCT, INNER JOIN <br>
![ex1](imgs/db_ex2.png)

### 2. Solution Part A: Select and Group By Name, Kind and count the number of rows of this attribute combo
![ex1](imgs/db_2A.png)

### 2. Solution Part B: Select Distinct repeat part B to compare distinct attribute combo record counts
![ex1](imgs/db_2B.png)

### 2. Solution Part C: Compare total record combos greater than distinct record combos
![ex1](imgs/db_2C.png)

<br>
<br>
-------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>
<br>

<a id='EX3'></a>
### 3. Example: Check for duplicate rows on possible candidate key
USED: Subquery, HAVING, INNER JOIN
<br>
![ex1](imgs/db_ex2.png)

### 3. Solution Part A: Select Candidate key attributes and count() total rows. Filter HAVING count() > 2.
![ex1](imgs/db_3A.png)

### 3. Solution Part B: Join rows HAVING count()>2 back with original table to view duplicates
![ex1](imgs/db_3B.png)
<br>
<br>
-------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>
<br>

<a id='EX4'></a>
### 4. Example: Write a query that returns the highest and lowest salary from the professors table excluding the professor named 'Wilson'.
Used: CTE, MAX()/MIN() functions, INNER JOIN, SELF JOIN, UNION <br>
![ex1](imgs/p1_tables.png)

### 4. Solution Part A: CTE SELECT Table finds max and min values of professors.salary column
![sol1a](imgs/Sol1_A.png)

### 4. Solution Part B: Inner join CTE on Professors.Salary = CTE.min_sal to find the lowest paid professor
![sol1a](imgs/Sol1_B.png)

### 4. Solution Part C:  Inner join CTE on Professors.Salary = CTE.mmax_sal to find the highest paid professor
![sol1a](imgs/Sol1_C.png)

### 4. Solution Part D:  Union the highest and lowest paid professor records for Final View
![sol1a](imgs/Sol1_D.png)
<br>
<br>
-------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>
<br>

<a id='EX5'></a>
### 5. Example: Count which gender has the highest salary in every department
Used: Subquery, Aggregates, Window Function, Self Join <br>
![ex1](imgs/p2_tables.png)

### 5. Solution Part A: Subquery to create our salary stats and RANK() to see which group has the higher salary. Group by department, gender to isolate the catergories
![sol1a](imgs/Sol2_A.png)

### 5. Solution Part B: Count the total records WHERE sal_rank = 1 (highest sal) and group by gender to see which is paid most in all 27 departments
![sol1a](imgs/Sol2_B.png)
<br>
<br>
-------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>
<br>

<a id='EX6'></a>
### 6. Example: Find time, view, like, dislike, comment count deltas between ETL uploads
 - #### This is from my own [database project](https://github.com/jmhcodes/youtube) on [YouTube Statistics, you can find more here](https://jmhcodes.github.io/plotly_imgs.io/data_viz.html). It's in postgres so syntax is a little different than SQL Server
 
Used: Subquery, CTE, LAG() window function, CASE statements, ROUND(CAST()), Clean with IS NOT NULL data 
<br>
![ex1](imgs/EX6_A.png)
![ex1](imgs/EX6_B.png)

### 6. Solution Part A: CTE using CASE and LAG(title) OVER (ORDER BY title, vid_date, vid_TIME) to generate deltas and ensure data is clean
![sol1a](imgs/Sol6_1A.png)
![sol1a](imgs/Sol6_B1.png)
![sol1a](imgs/Sol6_1C.png)

### 6. Solution Part B: Select new stats from CTE and create time_delta_min and view_per_min columns with ROUND(CAST())
![sol1a](imgs/Sol6_1A.png)
![sol1a](imgs/Sol6_2B.png)
![sol1a](imgs/Sol6_2C.png)

### 6. Solution Part C: Subquery to select all stats created from Part A and B to create new view
![sol1a](imgs/Sol6_C1.png)
![sol1a](imgs/Sol6_2B.png)
![sol1a](imgs/Sol6_C2.png)
![sol1a](imgs/Sol6_C3.png)