### 1. Example: Write a query that returns the highest and lowest salary from the professors table excluding the professor named 'Wilson'.
Used: CTE, MAX()/MIN() functions, INNER JOIN, SELF JOIN, UNION <br>
![ex1](imgs/p1_tables.png)

### 1. Solution Part A: CTE SELECT Table finds max and min values of professors.salary column
![sol1a](imgs/Sol1_A.png)

### 1. Solution Part B: Inner join CTE on Professors.Salary = CTE.min_sal to find the lowest paid professor
![sol1a](imgs/Sol1_B.png)

### 1. Solution Part C:  Inner join CTE on Professors.Salary = CTE.mmax_sal to find the highest paid professor
![sol1a](imgs/Sol1_C.png)

### 1. Solution Part D:  Union the highest and lowest paid professor records for Final View
![sol1a](imgs/Sol1_D.png)

### 2. Example: Count which gender has the highest salary in every department
Used: Subquery, Aggregates, Window Function, Self Join <br>
![ex1](imgs/p2_tables.png)

### 2. Solution Part A: Subquery to create our salary stats and RANK() to see which group has the higher salary. Group by department, gender to isolate the catergories
![sol1a](imgs/Sol2_A.png)

### 2. Solution Part B: Count the total records WHERE sal_rank = 1 (highest sal) and group by gender to see which is paid most in all 27 departments
![sol1a](imgs/Sol2_B.png)

### 4. Example:  Write a query that finds students who do not take CS180.
USED: SUBQUERY in WHERE, NOT IN, INNER JOIN

![ex1](imgs/ex1_tables.png)

### 4. Solution: SUBQUERY in WHERE, NOT IN, INNER JOIN

![image.png](imgs/Sol1.png)

### 2. Example: Write a query to find students who take CS110 or CS107 but not both.
USED: SUBQEURY IN WHERE Clause, GROUP BY, HAVING
![ex2](imgs/ex1_tables.png)

### 2. Solution: SUBQEURY in WHERE Clause, GROUP BY, HAVING
![Sol2](imgs/Sol2.png)

### 3. Write a query to find students who take CS220 and no other courses.
USED: CTE, Multi-Table Select, COUNT()

![ex3](imgs/ex1_tables.png)

### 3. Solution Part 1: Common Table Expression Result
![Sol2](imgs/Sol3_1.png)

### 3. Solution Part 2: CTE, Multi-Table Select
![Sol2](imgs/Sol3_2.png)