# Summary - SQL Query Examples
Each example shows the original tables, goal, then the breaks down the solution in parts. 
> ### [1. Example:](#EX1) CTE, MAX()/MIN() functions, INNER JOIN, SELF JOIN, UNION Subquery
> ### [2. Example:](#EX2) Subquery, Aggregates, RANK() Window Function, Self Join
> ### [3. Example:](#EX3) Subquery, CTE, LAG() Window Function, CASE, ROUND(CAST( )), IS NOT NULL